body {
    animation: colorRandom 30s infinite;
    height: auto;
    margin: 0px;
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.center {
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    height: 116px;

    position: absolute;
    left: 50%;
    top: 50%;

    margin-top: -58px;
    margin-left: -200px;
 }
.logo {
    color: #fff;
    font-size: 100px;
}
@keyframes colorRandom {
  15% {
    background-color: red;
  }
  30% {
    background-color: yellow;
  }
  45% {
    background-color: green;
  }
  60% {
    background-color: blue;
  }
  75% {
    background-color: black;
  }
}
