body {
    animation: colorRandom 30s infinite;
    margin: 0px;
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.logo {
  height: 100%;
  width: 60%;
  background-image: url(https://s3.amazonaws.com/vimeo-chromecast-prod/static/media/vimeo_white.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  margin: 0 auto;
}
@keyframes colorRandom {
  15% {
    background-color: red;
  }
  30% {
    background-color: yellow;
  }
  45% {
    background-color: green;
  }
  60% {
    background-color: blue;
  }
  75% {
    background-color: black;
  }
}
